# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Cmake Files
CMakeCache.txt
cmake_install.cmake
CMakeFiles/*

#kde project files
*.kdev4
.kdev4/*
